/.vscode
/Netnotes/target
/Netnotes/.vscode
/Netnotes/.svn
/Netnotes/netnotes
/Netnotes/netnotes.sh
/Netnotes/dependency-reduced-pom.xml
/Netnotes/netnotes-log.txt
Netnotes/test-wallet.erg
test-wallet.erg
Netnotes/spectrumPrices.json
.bloop
.metals
.scala-build
target